body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8b400;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Style pour le formulaire */
#add-recipe-form ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

#add-recipe-form ul li {
    margin-bottom: 20px;
}

#add-recipe-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#add-recipe-form input,
#add-recipe-form textarea,
#add-recipe-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#add-recipe-form textarea {
    resize: vertical;
}

#add-recipe-form button {
    background-color: #f8b400;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-recipe-form button:hover {
    background-color: #e09c00;
}